<!DOCTYPE>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue2 List</title>
    <script src="https://unpkg.com/vue@2.2.6"></script>
</head>

<body>
    <ul>
        <li> How to use the v-for directive to filter through a list of items and render them on the page</li>
        <li> How to use button </li>
    </ul>
    <div id="app">
        <ul>
            <li v-for="name in names">{{name}}</li>
        </ul>

        <ul>
            <li v-for="name in names" v-text="name"></li>
        </ul>
        <input id="input" type="text">
        <button id="button">Add name</button>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            names: ['Joe', 'Mary', 'Jane']
        },
        mounted() {
            document.querySelector('#button').addEventListener('click', () => {
                let name = document.querySelector('#input');
                app.names.push(name.value);
                name.value = "";
            });
        }
    })
</script>

</html>